.container {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.image {
    grid-template-columns: 1/2;
    grid-template-rows: 1/-1;
    height: 650px;
    width: 400px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-self: center;

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    justify-self: center;
}